<div class="main-browser-container mat-elevation-z8">
  <div class="main-browser-title">
    {{config.title}}
    <div class="active-environment">
      Aktywne środowisko: {{getActiveEnvironment()}}
    </div>
  </div>
  <app-universal-browser-action-buttons *ngIf="config.showActionButtons"
                                        [row]="getClickedRow()"
                                        [actions]="config.actions"
                                        [getDataFromServer]="getDataFromServerFunction()"
                                        [refreshFunc]="getRefreshFunc()"
                                        [disabled]="config.browserDisabled">
  </app-universal-browser-action-buttons>
  <app-universal-browser-filters *ngIf="!config.filteringDisabled"
                                 (onFilterAdded)="onFilterAdded($event)"
                                 (onFilterRemoved)="onFilterRemoved($event)"
                                 [config]="config"
                                 [headers]="headers">
  </app-universal-browser-filters>
  <div *ngIf="config" class="browser-container">
    <table mat-table [dataSource]="data" matSort (matSortChange)="onSortChange($event)"
           [matSortStart]="'desc'" [matSortDisabled]="config.browserDisabled || config.sortingDisabled">
      <ng-container *ngIf="config.showPositionNumber" matColumnDef="idx">
        <th mat-header-cell *matHeaderCellDef>Lp.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container *ngFor="let header of headers" matColumnDef="{{header.dataField}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{header.name}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="isDatetimeHeader(header)">{{ getDateValue(element, header) | date : 'dd-MM-YYYY hh:mm:ss' }}</div>
          <div *ngIf="!isDatetimeHeader(header)">{{ getValue(element, header) }}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true" class="browser-table-header-row"></tr>
      <tr
        mat-row
        (click)="onRowClicked({idx: idx, data: row})"
        [class.clicked-row]="isRowClicked({idx: idx, data: row})"
        class="browser-table-row"
        *matRowDef="let row; columns: columns; let idx = index"
      ></tr>
    </table>
    <button mat-button *ngIf="showLoadMoreButton()" (click)="loadMoreRows()" class="load-more-button">
      Załaduj więcej
      <mat-icon>refresh</mat-icon>
    </button>
    <common-spinner *ngIf="showLoadingSpinner()" class="browser-spinner" [diameter]="60"></common-spinner>
    <div *ngIf="showNoDataMessage()" class="suppet-info-message">
      {{config.noDataMessage}}
    </div>
    <div *ngIf="showLoadingError()" class="suppet-error-message">
      Podczas pobierania wystąpił błąd...
    </div>
  </div>
  <div *ngIf="!config">
    Brak konfiguracji
  </div>
</div>
