@import "src/assets/styles/variables";

.button-icon-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-button {
  width: fit-content;
  height: 50px;
  margin-right: 10px;
  background: $suppet-green-half-opacity !important;
  font-size: medium;
  font-weight: normal;
}

.action-button-text {
  height: 25px;
}

.action-button-icon {
  height: 18px !important;
}
