
.spinner-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $suppet-grey;
}

.spinner-wrapper ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $suppet-green-07-opacity;
  width: 100%;
}
