<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" [mode]="'side'" [opened]="true">
    <div>
      <img [src]="logoSrc"/>

      <mat-divider style="margin-top: 0"></mat-divider>
      <button mat-button class="main-button" [routerLink]="menuTypes.MAIN_MENU" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>home</mat-icon>
        <span>Menu główne</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="main-button" [routerLink]="menuTypes.AGENTS" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>people</mat-icon>
        <span>Agenci</span>
      </button>
      <mat-divider></mat-divider>
      <span class="menu-group-title">Certyfikaty</span>
      <button mat-button class="main-button" [routerLink]="menuTypes.REQUESTED_CERTS" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>gpp_good</mat-icon>
        <span>Nowe</span>
      </button>
      <button mat-button class="main-button" [routerLink]="menuTypes.SIGNED_CERTS" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>gpp_good</mat-icon>
        <span>Aktywne</span>
      </button>
      <button mat-button class="main-button" [routerLink]="menuTypes.UNSIGNED_CERTS" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>gpp_maybe</mat-icon>
        <span>Nieaktywne</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="main-button" [routerLink]="menuTypes.TASKS" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>tasks</mat-icon>
        <span>Zadania</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="main-button" [routerLink]="menuTypes.MODULES" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>folder</mat-icon>
        <span>Moduły</span>
      </button>
      <button mat-button class="main-button" [routerLink]="menuTypes.CLASSES" [routerLinkActive]="'main-button-clicked'">
        <mat-icon>classes</mat-icon>
        <span>Klasy</span>
      </button>
    </div>
    <div class="account-section">
      <div style="width: 100%">
        <img class="avatar mat-elevation-z8" [src]="this.getUserImg()"/>
        <button mat-button class="main-button">
          <mat-icon>face</mat-icon>
          <span>Moje konto</span>
        </button>
        <app-logout-button></app-logout-button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
