@import "/src/assets/styles/buttons";

$side-menu-padding: 16px;

mat-sidenav-container {
  height: 100%;
  background: $suppet-light-grey;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: $suppet-grey;
  color: white;
  border-radius: 10px;
  padding: $side-menu-padding;
  text-align: center;
  font-weight: lighter;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-flow: column;
}

.content {
  height: calc(100vh - 32px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: white;
  background: $suppet-grey;
  font-weight: lighter;
}

.submenu {
  width: 100%;
}

.account-section {
  flex-grow : 1;
  display: flex;
  align-items: flex-end;
}

.avatar {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $suppet-green-half-opacity;
}
