<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" [mode]="'side'" [opened]="true">
    <div>
    <img [src]="logoSrc" />

    <mat-divider style="margin-top: 0"></mat-divider>
      <button mat-button
              (click)="toggledButton.toggleMenu()"
              [ngClass]="toggledButton.menu ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>home</mat-icon>
        <span>Menu główne</span>
      </button>
    <mat-divider></mat-divider>
      <button mat-button
              (click)="toggledButton.toggleAgents()"
              [ngClass]="toggledButton.agents ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>people</mat-icon>
        <span>Agenci</span>
      </button>
      <button mat-button
              (click)="toggledButton.toggleCerts()"
              [ngClass]="toggledButton.certs ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>shield</mat-icon>
        <span>Certyfikaty</span>
      </button>
<!--      <button mat-button-->
<!--              (click)="toggledButton.toggleCatalogs()"-->
<!--              [ngClass]="toggledButton.catalogs ? 'menu-button-clicked' : 'menu-button'">-->
<!--        <mat-icon>store_mall_directory</mat-icon>-->
<!--        <span>Katalogi</span>-->
<!--      </button>-->
    <mat-divider></mat-divider>
      <button mat-button
              (click)="toggledButton.toggleTasks()"
              [ngClass]="toggledButton.tasks ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>tasks</mat-icon>
        <span>Zadania</span>
      </button>
    <mat-divider></mat-divider>
      <button mat-button
              (click)="toggledButton.toggleModules()"
              [ngClass]="toggledButton.modules ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>folder</mat-icon>
        <span>Moduły</span>
      </button>
      <button mat-button
              (click)="toggledButton.toggleClasses()"
              [ngClass]="toggledButton.classes ? 'menu-button-clicked' : 'menu-button'">
        <mat-icon>classes</mat-icon>
        <span>Klasy</span>
      </button>
<!--      <button mat-button-->
<!--              (click)="toggledButton.toggleManifests()"-->
<!--              [ngClass]="toggledButton.manifests ? 'menu-button-clicked' : 'menu-button'">-->
<!--        <mat-icon>receipt</mat-icon>-->
<!--        <span>Manifesty</span>-->
<!--      </button>-->
    </div>
      <div class="account-section">
        <div style="width: 100%">
          <img class="avatar mat-elevation-z8" [src]="this.getUserImg()" />
          <button mat-button class="menu-button">
            <mat-icon>face</mat-icon>
            <span>Moje konto</span>
          </button>
          <app-logout-button></app-logout-button>
        </div>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-dashboard-main-menu *ngIf="toggledButton.menu" class="submenu"></app-dashboard-main-menu>
      <app-dashboard-agents *ngIf="toggledButton.agents" class="submenu"></app-dashboard-agents>
      <app-dashboard-certs *ngIf="toggledButton.certs" class="submenu"></app-dashboard-certs>
      <app-dashboard-catalogs *ngIf="toggledButton.catalogs" class="submenu"></app-dashboard-catalogs>
      <app-dashboard-tasks *ngIf="toggledButton.tasks" class="submenu"></app-dashboard-tasks>
      <app-dashboard-modules *ngIf="toggledButton.modules" class="submenu"></app-dashboard-modules>
      <app-dashboard-classes *ngIf="toggledButton.classes" class="submenu"></app-dashboard-classes>
      <app-dashboard-manifests *ngIf="toggledButton.manifests" class="submenu"></app-dashboard-manifests>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
