<h1 mat-dialog-title>Parametry</h1>
<div mat-dialog-content role="form" [formGroup]="formGroup" class="form-container">
  <mat-form-field appearance="fill" *ngFor="let param of params">
    <mat-label>{{param}}</mat-label>
    <input matInput [formControlName]="param">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSaveClick()" [disabled]="!this.formGroup.valid" class="main-button">Zapisz</button>
  <button mat-button (click)="onNoClick()" class="main-button">Anuluj</button>
</div>
