@import "src/assets/styles/variables";

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: normal;

  mat-icon {
    margin-right: 8px;
  }
}

.menu-button ::ng-deep .mat-button-focus-overlay {
  background-color: $suppet-green;
}
