@import "src/assets/styles/variables";

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 25px;
  height: calc(100% - 30px);
}

.title-description-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  width: 40%;
}

.processes-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 60%;
}

.processes {
  flex-grow: 1;
}

.title {
  width: fit-content;
  font-size: xxx-large;
  border-bottom: $green-thicc-border;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description {
  flex-grow: 1;
  font-size: medium;
  font-weight: bold;
}

.top-container {
  display: flex;
  height: calc(40% - 15px);
  margin-bottom: 15px;
}

.bottom-container {
  height: 60%;
  flex-direction: row;
}

.browser-wrapper {
  height: 100%;
}
