@import "src/assets/styles/variables";

.universal-browser-filters-adding-menu {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: calc(100% - 20px);
  height: fit-content;
  background: $suppet-grey;
  font-size: small;
  color: white;
  display: flex;
  align-items: center;
}

.universal-browser-filters-adding-close-button {
  margin-left: 5px;
  border-radius: 10px;
  background: $suppet-red;
}

.universal-browser-filters-adding-plus-button {
  @extend .universal-browser-filters-adding-close-button;
  background: $suppet-green-half-opacity;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-underline {
  bottom: 0;
}

::ng-deep .mat-form-field {
  color: white !important;
  margin-right: 5px;
}

::ng-deep .mat-label {
  color: white !important;
}

::ng-deep .mat-select {
  color: white !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: white;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}

::ng-deep .mat-select-arrow {
  color: white;
}

::ng-deep .mat-select-value {
  color: white;
}
