<div class="universal-browser-filters-adding-menu">
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Kolumna</mat-label>
      <mat-select [required]="true" [formControl]="fieldNameControl">
        <mat-option *ngFor="let header of headers" [value]="header">{{header.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Operator</mat-label>
      <mat-select [required]="true" [formControl]="operatorControl" [disabled]="fieldNameControl.invalid">
        <mat-option *ngFor="let op of potentialOperators" value="{{op}}">{{op}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wartość</mat-label>
      <input matInput [required]="true" [formControl]="valueControl" [disabled]="fieldNameControl.invalid || operatorControl.invalid">
    </mat-form-field>

    <button mat-icon-button (click)="onAddClicked()" [disabled]="formGroup.invalid || isAddButtonClicked" class="universal-browser-filter-badge-plus-button">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="onCloseClicked()" class="universal-browser-filter-badge-x-button">
      <mat-icon>close</mat-icon>
    </button>
  </form>
</div>
