@import "src/assets/styles/variables";

.universal-browser-filters-adding-menu {
  //display: flex;
  //align-items: center;
  //justify-content: left;
  width: 100%;
  height: fit-content;
  background: $suppet-grey;
  font-size: small;
  color: white;
}
