<h1 mat-dialog-title>{{getFormTitle()}}</h1>
<div mat-dialog-content role="form" [formGroup]="formGroup">
  <mat-form-field appearance="fill" *ngFor="let field of getFormFields()">
    <mat-label>{{field.label}}</mat-label>
    <textarea matInput *ngIf="field.fieldType === 'textarea'"
              [formControlName]="field.fieldName"></textarea>
    <input matInput *ngIf="field.fieldType !== 'textarea'"
           [type]="field.fieldType"
           [formControlName]="field.fieldName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="formValue" class="main-button"
          cdkFocusInitial>{{getSubmitBtnLabel()}}</button>
  <button mat-button (click)="onNoClick()" class="main-button">Anuluj</button>
</div>
