@import "src/assets/styles/variables";

.menu-container {
  width: 100%;
  padding-top: 5px;
  margin-bottom: 10px;
  height: 100%;
}

.containers-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.title-description-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  width: 40%;
}

.processes-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 60%;
}

.processes {
  flex-grow: 1;
}

.title {
  width: fit-content;
  font-size: xx-large;
  border-bottom: $green-thicc-border;
  padding-top: 15px;
  line-height: normal;
}

.description {
  flex-grow: 1;
  font-size: medium;
  font-weight: bold;
}

.top-container {
  display: flex;
  min-height: calc(40% - 15px);
  margin-bottom: 15px;
}

.bottom-container {
  flex-grow: 1;
  max-height: 60%;
  padding: 0;
}

.browser-wrapper {
  height: 96%;
}
