<div class="main-browser-container mat-elevation-z8">
  <div class="main-browser-title">
    <span>Procesy</span>
  </div>
  <button mat-button (click)="removeCompletedProcesses()" class="main-button">
    <mat-icon>close</mat-icon>
    <span>Wyczyść zakończone procesy</span>
  </button>
  <div class="browser-container">
    <table mat-table [dataSource]="processes">
      <ng-container matColumnDef='name'>
        <th mat-header-cell *matHeaderCellDef>Nazwa</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef='completed'>
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef='let element; let i = index' class="status-row-wrapper">
          <div *ngIf="element.completed" class="status-row-wrapper">
            <mat-icon [matTooltip]="'Pomyślnie ukończono'" class="green-icon">done</mat-icon>

          </div>
          <div *ngIf="element.error" class="status-row-wrapper">
            <mat-icon [matTooltip]="element.errorMessage" class="red-icon">error</mat-icon>
          </div>
          <common-spinner *ngIf="!element.completed && !element.error" class="status-row-wrapper" [diameter]="25"></common-spinner>
        </td>
      </ng-container>

      <ng-container matColumnDef='delete-action'>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button *ngIf="element.completed || element.error" mat-icon-button (click)="removeProcess(i)" class="transparent-icon-button" [matTooltip]="'Usuń'">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true" class="browser-table-header-row"></tr>
      <tr mat-row
        class="browser-table-row"
        *matRowDef="let row; columns: columns"
      ></tr>
    </table>
    <div *ngIf="processes.length === 0" class="suppet-info-message">
      Brak procesów
    </div>
  </div>
</div>
