@import "variables";

.main-browser-container {
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: 10px;
  background: $suppet-grey;
  display: flex;
  flex-flow: column;
}

.main-browser-title {
  width: 100%;
  height: 27px;
  padding-top: 10px;
  font-size: medium;
  font-weight: normal;
  text-align: center;
}

.browser-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.browser-spinner {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody {
  overflow: hidden !important;
  overflow-y: scroll;
}

.browser-table-header-row {
  height: 40px;
  background: $suppet-dark-grey;
}

::ng-deep .mat-sort-header-arrow {
  color: $suppet-green-07-opacity;
}

.mat-table {
  background: $suppet-dark-grey;
  width: 100%;
}

.mat-header-cell {
  color: white;
  font-size: medium;
}

.mat-cell {
  color: white;
  font-size: medium;
}

.browser-table-row {
  background: $suppet-grey;
  height: 40px;
}

.browser-table-row:hover {
  background: $suppet-dark-grey;
}

.mat-row .mat-cell {
  border-bottom: $transparent-border;
  border-top: $transparent-border;
  cursor: pointer;
  border-bottom: $green-border;
}

.mat-row {
  padding-left: 10px;
  padding-right: 10px;
}

.clicked-row {
  background: $suppet-green-half-opacity !important;
}

.base-browser-message {
  background: $suppet-grey;
  width: calc(100% - 20px);
  font-size: medium;
  height: 30px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;

  .mat-icon {
    transform: scale(0.9);
  }
}

.load-more-button {
  @extend .base-browser-message;
  background: $suppet-green-half-opacity !important;
  margin: 10px;
  padding: 0;
}

.loading-error {
  @extend .load-more-button;
  background: $suppet-red !important;
}
