@import "variables";

.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.green-icon {
  color: $suppet-green-half-opacity;
}

.white-icon {
  color: white;
}

.red-icon {
  color: $suppet-red;
}
