
$suppet-light-grey: #5d5d5d;
$suppet-grey: #3c3c3c;
$suppet-dark-grey: #343434;
$suppet-green: #59BB35;
$suppet-green-07-opacity: rgba($suppet-green, 0.7);
$suppet-green-half-opacity: rgba($suppet-green, 0.5);
$suppet-red: rgba(218, 18, 18, 0.56);

$transparent-border: solid 1px transparent;
$green-border: solid 1px $suppet-green-half-opacity;
$green-thicc-border: solid 5px $suppet-green-half-opacity;
