
$suppet-light-grey: #5d5d5d;
$suppet-grey: #3c3c3c;
$suppet-dark-grey: #343434;
$suppet-green: rgba(89,187,53);
$suppet-green-07-opacity: rgba(89,187,53, 0.7);
$suppet-green-half-opacity: rgba(89,187,53, 0.5);
$suppet-red: rgba(218, 18, 18, 0.56);

$transparent-border: solid 1px transparent;
$green-border: solid 1px $suppet-green-half-opacity;
$green-thicc-border: solid 3px $suppet-green-half-opacity;
